.title {
  color: red;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.link {
  color: white;
  text-decoration: none;
  background-color: red;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
}
