.error-message {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
  padding: 1rem 1.5rem;
  background-color: #d96666;
  color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  animation: slideDownFade 0.5s ease forwards;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
